<?xml version="1.0" encoding="utf-8"?>
<Content Key="2caf764e-51a5-4ed1-a6e5-96176d209d88" Alias="Best Stock Exchange" Level="2">
  <Info>
    <Parent Key="f46c9be3-2c71-4738-9277-496a9f54d726">Home</Parent>
    <Path>/Home/BestStockExchange</Path>
    <Trashed>false</Trashed>
    <ContentType>stockExchangePage</ContentType>
    <CreateDate>2024-09-04T15:55:17</CreateDate>
    <NodeName Default="Best Stock Exchange" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc8d8339-bc14-41dd-9efc-4f1d0c0ad0ac">StockExchangePage</Template>
  </Info>
  <Properties>
    <bestStock>
      <Value><![CDATA[Best Stock Exchange Login Page]]></Value>
    </bestStock>
    <loginStatus>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"LoginStatus\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </loginStatus>
  </Properties>
</Content>