<?xml version="1.0" encoding="utf-8"?>
<Content Key="f46c9be3-2c71-4738-9277-496a9f54d726" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-09-04T15:49:01</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="fed77c8f-9fb2-4ece-bfa6-fcc784628e8e">Home</Template>
  </Info>
  <Properties />
</Content>