<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f967466-e0f9-4af2-9a6b-61763d784d0d" Alias="Login Page" Level="2">
  <Info>
    <Parent Key="f46c9be3-2c71-4738-9277-496a9f54d726">Home</Parent>
    <Path>/Home/LoginPage</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2024-09-04T15:53:48</CreateDate>
    <NodeName Default="Login Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c16496ef-a459-4b52-a0c4-9322219b03f0">LoginPage</Template>
  </Info>
  <Properties>
    <Login>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"LoginMacro\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </Login>
  </Properties>
</Content>