<?xml version="1.0" encoding="utf-8"?>
<Content Key="80459485-fc25-4b3b-a53e-a960f880bc38" Alias="Register Page" Level="2">
  <Info>
    <Parent Key="f46c9be3-2c71-4738-9277-496a9f54d726">Home</Parent>
    <Path>/Home/RegisterPage</Path>
    <Trashed>false</Trashed>
    <ContentType>registerPage</ContentType>
    <CreateDate>2024-09-04T15:53:58</CreateDate>
    <NodeName Default="Register Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b4a1d785-0dc9-41d9-8cf5-775928e5085c">RegisterPage</Template>
  </Info>
  <Properties>
    <register>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"RegisterMacro\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </register>
  </Properties>
</Content>