<?xml version="1.0" encoding="utf-8"?>
<Macro Key="9c7641ba-ea1e-403b-9d84-067dcfd72cf9" Alias="LoginStatus" Level="0">
  <Name>LoginStatus</Name>
  <MacroSource>~/Views/MacroPartials/LoginStatus.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>