<?xml version="1.0" encoding="utf-8"?>
<Macro Key="9c18a1dd-08a5-4cdf-941f-444b7c6488e0" Alias="RegisterMacro" Level="0">
  <Name>Register Macro</Name>
  <MacroSource>~/Views/MacroPartials/Register Macro.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>