<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc3fc3f6-eb6e-4cd4-8ddd-4494bf2dd259" Alias="formPage" Level="1">
  <Info>
    <Name>Form Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>FormPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fe069014-8894-4a30-915f-4c31338a30f7">FormPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>