<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81241aa2-1086-4c41-8655-7e77a2269d66" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fed77c8f-9fb2-4ece-bfa6-fcc784628e8e">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6d93ac89-8d1f-460d-8085-dcce011619dc" SortOrder="0">loginPage</ContentType>
    <ContentType Key="10f4bce5-e7a4-4448-8e6c-a55fb81eeb16" SortOrder="1">registerPage</ContentType>
    <ContentType Key="7fdb9540-773a-437d-a086-ef6e19c2409c" SortOrder="2">stockExchangePage</ContentType>
    <ContentType Key="fc3fc3f6-eb6e-4cd4-8ddd-4494bf2dd259" SortOrder="3">formPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>